node_modules

/.cache
/build
.env

.wrangler

.dev.vars

tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.env*
!.env.example
